[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tidygeocoder"]
	path = tidygeocoder
	url = https://github.com/jessecambon/tidygeocoder
	shallow = true
	registered = true
